/* main */
main{
    flex: 1;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main h2{
    font-size: 60px;
    padding: 20px;
}

main p{
    font-size: 20px;
}
